<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <%- include('../partials/header') %>
        <header class="container text-centered mt-5">
            <h1>Acconut</h1>
            <p>Update your personal info here</p>
        </header>
        <br>
        <% let users_info=users[0]%>
            <div class="container">
                <form onsubmit="return validateNames()" action="account/new_names" id="newNames" method="POST">
                    <div class="container bg-secondary-subtle pt-2 pb-1 rounded-4">
                        <div class="mt-2 ms-2 fw-semibold fs-5">
                            <p class="d-inline-block">Need to update something?</p>
                            <button type="submit" class="btn btn-dark float-end me-3">Save</button>
                        </div>
                        <div class="row my-4 mx-auto fw-semibold">
                            <div class="col-4">
                                <label for="f_name" class="form-label">First Name</label>
                                <input type="text" class="form-control" name="f_name" id="f_name"
                                    value="<%=users_info['f_name']%>">
                            </div>
                            <div class="col-4">
                                <label for="l_name" class="form-label">Last Name</label>
                                <input type="text" class="form-control" name="l_name" id="l_name"
                                    value="<%=users_info['l_name']%>">
                            </div>
                            <div class="col-4">
                                <label for="username" class="form-label">Username</label>
                                <input type="text" class="form-control" name="username" id="username"
                                    value="<%= users_info['username']%>">
                            </div>
                        </div>
                    </div>
                </form>
                <br>
                <form onsubmit="return validateEmail()" action="account/change_email" id="updateEmail" method="POST">
                    <div class="container bg-secondary-subtle pt-2 pb-1 rounded-4">
                        <div class="mt-2 ms-2 fw-semibold fs-5">
                            <p class="d-inline-block">Change email</p>
                            <button type="submit" class="btn btn-dark float-end me-3">Save</button>
                        </div>
                        <div class="row my-4 mx-auto fw-semibold">
                            <div class="col-4">
                                <label for="email" class="form-label">Current Email</label>
                                <input type="text" readonly class="form-control-plaintext" name="email" id="email"
                                    value="<%= users_info['email']%>">
                            </div>
                            <div class="col-4">
                                <label for="newEmail" class="form-label">New Email</label>
                                <input type="text" class="form-control" name="newEmail" id="newEmail">
                            </div>
                            <div class="col-4 error">
                                <label for="confirmEmail" class="form-label">Confirm Email</label>
                                <input type="text" class="form-control" name="confirmEmail" id="confirmEmail">
                            </div>
                        </div>
                    </div>
                </form>
                <br>
                <form onsubmit="return validatePassword()" action="/account/change_password" is="updatePassword" method="POST">
                    <div class="container bg-secondary-subtle pt-2 pb-1 rounded-4">
                        <div class="row">
                            <div class="mt-2 ms-2 fw-semibold fs-5">
                                <p class="d-inline-block">Change password</p>
                                <button type="submit" class="btn btn-dark float-end me-3">Save</button>
                            </div>
                            <div class="row my-4 mx-auto fw-semibold">
                                <div class="col-4">
                                    <div>
                                        <label for="password" class="form-label">Current Password</label>
                                        <input type="password" class="form-control" name="password" id="password">
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div>
                                        <label for="newPassword" class="form-label">New Password</label>
                                        <input type="password" class="form-control" name="newPassword"
                                            id="newPassword">
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div>
                                        <label for="confirmPassword" class="form-label">Confirm Password</label>
                                        <input type="password" class="form-control" name="confirmPassword"
                                            id="confirmPassword">
                                    </div>
                                </div>
                            </div>
                        </div>
                </form>
            </div>
            <%- include('../partials/footer') %>
                <script src="/javascripts/account_validations.js" type="text/javascript"></script>
</body>

</html>