<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
    <title>Account | BYTE Recipes</title>
</head>

<body>
    <%- include('../partials/header') %>
    <div class="main-bread-crumbs-wrapper">
        <ol class="bread-crumb-list">
            <li class="bread-crumb-item"><a href="/" class="bread-crumb">Home</a></li>
            <li class="bread-crumb-item"><a href="/account" class="bread-crumb">My Account</a></li>
        </ol>
    </div>
    <% let user = users[0] %>
    <main>
        <div class="new-account-wrapper">
            <header class="header-wrapper" aria-label="welcome message">
                <H1>Hello <%=user['f_name']%>!</H1>
                <p>All the great stuff releating to your account</p>
            </header>
            <section class="account-wrapper">
                <form action="account/contact" method="post" class="edit-account" id="contact-information">
                    <section class="account-details-wrapper" aria-label="contact information">
                        <h2>Contact Information</h2>
                        <div class="input-two-fields">
                            <div class="input-field">
                                <label for="first-name">First Name</label>
                                <input type="text" name="firstName" class="normal-border" id="first-name" placeholder="<%=user['f_name']%>">
                            </div>
                            <div class="input-field">
                                <label for="last-name">Last Name</label>
                                <input type="text" name="lastName" class="normal-border" id="last-name" placeholder="<%=user['l_name']%>">
                            </div>
                        </div>
                        <div class="input-two-fields">
                            <div class="input-field">
                                <label for="currentEmail">Current Email</label>
                                <input type="currentEmail" name="currentEmail" class="normal-border" id="currentEmail" readonly disabled value="<%=user['email']%>">
                            </div>
                            <div class="input-field">
                                <label for="email">Email</label>
                                <input type="email" name="email" class="normal-border" id="updateEmail">
                                <div class="valid-message"></div>
                                <div class="invalid-message"></div>
                            </div>
                        </div>
                        <div class="account-buttons">
                            <button type="submit" class="button-muted" id="">Save</button>
                        </div>
                    </section>
                </form>
                <section class="account-password-wrapper">
                    <form action="account/password" method="post" class="edit-account">
                        <section class="account-details-wrapper" aria-label="change password">
                            <h2>Change password</h2>
                            <div class="input-two-fields">
                                <div class="input-field">
                                    <label for="newPassword">New Password</label>
                                    <input type="password" name="newPassword" class="normal-border" id="newPassword">
                                    <div class="valid-message"></div>
                                    <div class="invalid-message"></div>
                                </div>
                                <div class="input-field">
                                    <label for="confirmPassword">Confirm New Password</label>
                                    <input type="password" name="confirmPassword" class="normal-border" id="confirmPassword">
                                    <div class="valid-message"></div>
                                    <div class="invalid-message"></div>
                                </div>
                            </div>
                            <div class="account-buttons">
                                <button type="submit" class="button-muted" id="update-password">Save</button>
                            </div>
                        </section>
                    </form>
                </section>
                <section class="account-recipe-wrapper">
                        <section class="user-recipe-wrapper" aria-label="your sumbitted recipes">
                            <h2>Your recipes</h2>
                            <% recipes.forEach(recipe => { %>
                                <% if (recipe === []) { %>
                                    <p>No recipes submitted</p>
                                <% } else { %>
                                    <div class="user-recipe">
                                        <a href="/recipes/categories/<%= recipe['category'] %>/<%= recipe['id'] %>" class="user-recipe-link">
                                            <%= recipe['r_title'].charAt(0).toUpperCase() + recipe['r_title'].slice(1) %>
                                        </a>
                                <% } %>
                                        <div class="user-recipe-buttons" aria-label="delete or edit recipe">
                                            <a href="/account/<%= recipe['id'] %>/delete" class="button-grey">Delete</a>
                                            <a href="/recipes/categories/<%= recipe['category'] %>/<%= recipe['id'] %>/edit" class="button-muted">Edit</a>
                                        </div>
                                    </div>
                            <% }); %>
                        </section>
                </section>
                <section class="account-comment-wrapper">
                        <section class="user-comment-wrapper" aria-label="user comments">
                            <h2>Your Comments</h2>
                            <% comments.forEach(comment => { %>
                                <% if (comment === []) { %>
                                    <p>No comments submitted</p>
                                <% } else { %>
                                    <div class="user-comments">
                                        <a href="/recipes/categories/<%= comment['category'] %>/<%= comment['recipe_id'] %>" class="user-comment-link" id="user-comment-link"><%= comment['comment'] %></a>
                                        <div class="user-recipe-buttons" aria-label="delete or edit recipe">
                                            <a href="/account/<%= comment['id'] %>/delete" class="button-grey">Delete</a>
                                        </div>
                                    </div>
                                <% } %>
                            <% }); %>
                        </section>
                </section>
            </section>
        </div>
    </main>
    <%- include('../partials/footer') %>
    <script src="/javascripts/account_validations.js"></script>
</body>

</html>