<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <%- include('../partials/header') %>
    <div class="main-bread-crumbs-wrapper">
        <ol class="bread-crumb-list">
            <li class="bread-crumb-item"><a href="/" class="bread-crumb">Home</a></li>
            <li class="bread-crumb-item"><a href="/account" class="bread-crumb">My Account</a></li>
        </ol>
    </div>
    <% let user = users[0] %>
    <main>
        <div class="new-account-wrapper">
            <header class="header-wrapper">
                <H2>Hello <%=user['f_name']%>!</H2>
                <p>All the great stuff releating to your account</p>
            </header>
            <section class="account-wrapper">
                <form action="account/contact" method="post" class="edit-account" id="contact-information">
                    <section class="account-details-wrapper">
                        <h3>Contact Information</h3>
                        <div class="input-two-fields">
                            <div class="input-field">
                                <label for="first-name">First Name</label>
                                <input type="text" name="firstName" class="normal-border" id="first-name" placeholder="<%=user['f_name']%>">
                            </div>
                            <div class="input-field">
                                <label for="last-name">Last Name</label>
                                <input type="text" name="lastName" class="normal-border" id="last-name" placeholder="<%=user['l_name']%>">
                            </div>
                        </div>
                        <div class="input-two-fields">
                            <div class="input-field">
                                <label for="currentEmail">Current Email</label>
                                <input type="currentEmail" name="currentEmail" class="normal-border" id="currentEmail" readonly disabled value="<%=user['email']%>">
                            </div>
                            <div class="input-field">
                                <label for="email">Email</label>
                                <input type="email" name="email" class="normal-border" id="email">
                            </div>
                        </div>
                        <div class="account-buttons">
                            <button type="submit" class="button-2-solid" id="">Save</button>
                        </div>
                    </section>
                </form>
                <section class="account-password-wrapper">
                    <form action="account/password" method="post" class="edit-account">
                        <section class="account-details-wrapper">
                            <h3>Change password</h3>
                            <div class="input-two-fields">
                                <div class="input-field">
                                    <label for="newPassword">New Password</label>
                                    <input type="text" name="newPassword" class="normal-border" id="newPassword">
                                </div>
                                <div class="input-field">
                                    <label for="confirmPassword">Confirm New Password</label>
                                    <input type="text" name="confirmPassword" class="normal-border" id="confirmPassword">
                                </div>
                            </div>
                            <div class="account-buttons">
                                <button type="submit" class="button-2-solid" id="">Save</button>
                            </div>
                        </section>
                    </form>
                </section>
                <section class="account-recipe-wrapper">
                        <section class="user-recipe-wrapper">
                            <h3>Your recipes</h3>
                            <% recipes.forEach(recipe => { %>
                                <% if (recipe === []) { %>
                                    <p>No recipes submitted</p>
                                <% } else { %>
                                    <div class="user-recipe">
                                        <a href="/account/<%= recipe['id'] %>" class="user-recipe-link">
                                            <%= recipe['r_title'] %>
                                        </a>
                                <% } %>
                                        <div class="user-recipe-buttons">
                                            <a href="/account/<%= recipe['id'] %>/delete" class="button-2-solid-grey">Delete</a>
                                            <button class="button-2-solid">Edit</button>
                                        </div>
                                    </div>
                            <% }); %>
                        </section>
                </section>
                <section class="account-comment-wrapper">
                        <section class="user-comment-wrapper">
                            <h3>Your Comments</h3>
                            <% comments.forEach(comment => { %>
                                <% if (comment === []) { %>
                                    <p>No comments submitted</p>
                                <% } else { %>
                                    <p><%= comment['comment'] %></p>
                                <% } %>
                            <% }); %>
                        </section>
                </section>
            </section>
        </div>
    </main>
    <%- include('../partials/footer') %>
    <script src="/javascripts/account_validations.js"></script>
</body>

</html>