<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
    <title>Categories | BYTE Recipes</title>
</head>

<body>
    <%- include('../partials/header') %>
    <% const recipes = categoryRecipes %>
    <nav class="main-bread-crumbs-wrapper" aria-label="breadcrumbs">
        <ol class="bread-crumb-list">
            <li class="bread-crumb-item"><a href="/" class="bread-crumb">Home</a></li>
            <li class="bread-crumb-item"><a href="/recipes" class="bread-crumb">Recipes</a></li>
            <li class="bread-crumb-item"><a href="/recipes/categories" class="bread-crumb">Categories</a></li>
        </ol>
    </nav>
    <div class="categories-show-wrapper">
        <div class="categories-header-wrapper">
            <header class="categories-title-wrapper">
                <h1>Feeling Lucky? Discover a new recipe?</h1>
                <p>Click below for a surprise recipe</p>
                <a href="/random-recipes" class="button-muted">Get Recipe</a>
            </header>
        </div>
        <section class="categories-container-wrapper">
            <div class="categories-container-sidebar">
                <h1>Categories</h1>
                <ul id="categories-container" class="categories-container" aria-label="categories list">
                    <li id="category" class="active-category-link" data-url="/recipes/categories/" data-category="breakfast">Breakfast</li>
                    <li id="category" class="inactive-category-link" data-url="/recipes/categories/" data-category="lunch">Lunch</li>
                    <li id="category" class="inactive-category-link" data-url="/recipes/categories/" data-category="snacketizers">Snacketizers</li>
                    <li id="category" class="inactive-category-link" data-url="/recipes/categories/" data-category="baking">Baking</li>
                    <li id="category" class="inactive-category-link" data-url="/recipes/categories/" data-category="soup">Soup</li>
                    <li id="category" class="inactive-category-link" data-url="/recipes/categories/" data-category="salad">Salad</li>
                    <li id="category" class="inactive-category-link" data-url="/recipes/categories/" data-category="dinner">Dinner</li>
                    <li id="category" class="inactive-category-link" data-url="/recipes/categories/" data-category="drinks">Drinks</li>
                    <li id="category" class="inactive-category-link" data-url="/recipes/categories/" data-category="dessert">Dessert</li>
                </ul>
            </div>
            <div class="categories-search-display-wrapper">
                <div class="categories-search-filter-wrapper">
                    <search class="main-search-categories">
                        <form id="main-search" action="search" class="search-form" aria-label="Search BYTE recipes" method="post">
                            <label for="main-search-input" class="visually-hidden">Search BYTE recipes</label>
                            <input name="searchValue" type="main-search" aria-label="Search BYTE recipes" id="main-search-input" placeholder="Search">
                          </form>
                    </search>
                    <select name="" id="category-select-filter" class="button-muted category-select-filter" aria-label="filter recipes">
                        <option value="alphabetical">Alphabetical</option>
                        <option value="newest">Newest</option>
                        <option value="oldest">Oldest</option>
                        <option value="highest_rated">Highest Rated</option>
                        <option value="lowest_rated">Lowest Rated</option>
                    </select>
                </div>
                <main id="category-recipe-all-cards" class="category-recipe-all-cards" aria-label="category recipes">
                    <section id="breakfast-category-container" class="breakfast-category-container">
                        <% recipes.forEach(recipe => { %>
                            <a href="/recipes/categories/<%= recipe['category'] %>/<%= recipe['id'] %>" class="category-recipe-card">
                                <div class="category-recipe-card-info">
                                    <div class="category-recipe">
                                        <div class="category-recipe-photo-wrapper">
                                            <div class="category-recipe-photo">
                                                <% if (recipe['photo_url']) { %>
                                                    <img src="<%= recipe['photo_url'] %>" aria-label="recipe photo">
                                                <% } else { %>
                                                    <div class="no-photo-wrapper">
                                                        <p>No Photo</p>
                                                    </div>
                                                <% } %>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="category-recipe-card-details">
                                        <p id="recipe-title"><%= recipe['r_title'].charAt(0).toUpperCase() + recipe['r_title'].slice(1) %></p>
                                        <div class="category-recipe-card-submitter">
                                            <div class="category-recipe-rating-wrapper">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="11" height="10" viewBox="0 0 11 10" fill="none">
                                                    <path d="M5.85882 0C5.71804 6.22016e-05 5.58018 0.040118 5.46128 0.115503C5.34239 0.190887 5.24735 0.298498 5.18725 0.425803L4.05273 2.71557C4.04973 2.72097 4.04687 2.72645 4.04416 2.732C4.03866 2.73282 4.03318 2.73377 4.02772 2.73486L1.52934 3.10494C1.38765 3.11869 1.2529 3.17286 1.14111 3.261C1.02932 3.34913 0.945203 3.46753 0.898767 3.6021C0.85233 3.73667 0.845528 3.88174 0.879171 4.02007C0.912813 4.15839 0.985484 4.28414 1.08854 4.38235L2.91749 6.14629L2.92178 6.14986C2.92436 6.15229 2.9263 6.15533 2.92743 6.15869C2.92855 6.16206 2.92882 6.16565 2.92821 6.16915V6.17201L2.4924 8.72111C2.46848 8.85932 2.48379 9.00218 2.53658 9.13213C2.58938 9.26207 2.67755 9.37461 2.79108 9.45698C2.90462 9.53934 3.03897 9.58822 3.17888 9.59807C3.3188 9.60792 3.45867 9.57835 3.58263 9.51271L5.8331 8.32317C5.84121 8.31963 5.84997 8.3178 5.85882 8.3178C5.86767 8.3178 5.87643 8.31963 5.88454 8.32317L8.13501 9.51199C8.2589 9.57806 8.39886 9.608 8.53894 9.5984C8.67902 9.58879 8.81358 9.54003 8.9273 9.45767C9.04101 9.37531 9.1293 9.26266 9.1821 9.13256C9.23491 9.00246 9.2501 8.86014 9.22596 8.72183L8.79015 6.17129V6.16915C8.78872 6.16629 8.78943 6.162 8.79015 6.15915C8.79122 6.15561 8.79319 6.15241 8.79586 6.14986L8.80015 6.14629L10.6284 4.38163C10.7312 4.28339 10.8037 4.15769 10.8372 4.01948C10.8707 3.88127 10.8639 3.73634 10.8174 3.60191C10.771 3.46748 10.687 3.3492 10.5754 3.2611C10.4637 3.17301 10.3291 3.11881 10.1876 3.10494L7.68992 2.73486C7.68446 2.73377 7.67899 2.73282 7.67349 2.732C7.67077 2.72645 7.66791 2.72097 7.66491 2.71557L6.53039 0.425803C6.47029 0.298498 6.37526 0.190887 6.25636 0.115503C6.13747 0.040118 5.9996 6.22016e-05 5.85882 0Z" fill="#F1A24C"/>
                                                </svg>
                                                <p><%= recipe['recipe_rating_avg'] %></p>
                                            </div>
                                            <p>By: <%= recipe['submit_user_first_name'] %></p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        <% }); %>
                    </section>
                    <template id="recipe_card_template">
                        <a href="" id="category-recipe-card" class="category-recipe-card">
                            <div class="category-recipe-card-info">
                                <div class="category-recipe">
                                    <div class="category-recipe-photo-wrapper">
                                        <div id="category-recipe-photo" class="category-recipe-photo">
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="category-recipe-card-details">
                                    <p id="recipe-title"></p>
                                    <div class="category-recipe-card-submitter">
                                        <div class="category-recipe-rating-wrapper">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="11" height="10" viewBox="0 0 11 10" fill="none">
                                                <path d="M5.85882 0C5.71804 6.22016e-05 5.58018 0.040118 5.46128 0.115503C5.34239 0.190887 5.24735 0.298498 5.18725 0.425803L4.05273 2.71557C4.04973 2.72097 4.04687 2.72645 4.04416 2.732C4.03866 2.73282 4.03318 2.73377 4.02772 2.73486L1.52934 3.10494C1.38765 3.11869 1.2529 3.17286 1.14111 3.261C1.02932 3.34913 0.945203 3.46753 0.898767 3.6021C0.85233 3.73667 0.845528 3.88174 0.879171 4.02007C0.912813 4.15839 0.985484 4.28414 1.08854 4.38235L2.91749 6.14629L2.92178 6.14986C2.92436 6.15229 2.9263 6.15533 2.92743 6.15869C2.92855 6.16206 2.92882 6.16565 2.92821 6.16915V6.17201L2.4924 8.72111C2.46848 8.85932 2.48379 9.00218 2.53658 9.13213C2.58938 9.26207 2.67755 9.37461 2.79108 9.45698C2.90462 9.53934 3.03897 9.58822 3.17888 9.59807C3.3188 9.60792 3.45867 9.57835 3.58263 9.51271L5.8331 8.32317C5.84121 8.31963 5.84997 8.3178 5.85882 8.3178C5.86767 8.3178 5.87643 8.31963 5.88454 8.32317L8.13501 9.51199C8.2589 9.57806 8.39886 9.608 8.53894 9.5984C8.67902 9.58879 8.81358 9.54003 8.9273 9.45767C9.04101 9.37531 9.1293 9.26266 9.1821 9.13256C9.23491 9.00246 9.2501 8.86014 9.22596 8.72183L8.79015 6.17129V6.16915C8.78872 6.16629 8.78943 6.162 8.79015 6.15915C8.79122 6.15561 8.79319 6.15241 8.79586 6.14986L8.80015 6.14629L10.6284 4.38163C10.7312 4.28339 10.8037 4.15769 10.8372 4.01948C10.8707 3.88127 10.8639 3.73634 10.8174 3.60191C10.771 3.46748 10.687 3.3492 10.5754 3.2611C10.4637 3.17301 10.3291 3.11881 10.1876 3.10494L7.68992 2.73486C7.68446 2.73377 7.67899 2.73282 7.67349 2.732C7.67077 2.72645 7.66791 2.72097 7.66491 2.71557L6.53039 0.425803C6.47029 0.298498 6.37526 0.190887 6.25636 0.115503C6.13747 0.040118 5.9996 6.22016e-05 5.85882 0Z" fill="#F1A24C"/>
                                            </svg>
                                            <p id="recipe-rating">Rating</p>
                                        </div>
                                        <p id="recipe-submitter">By: </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </template>
                </main>
            </div>
        </section>
    </div>
    <%- include('../partials/footer') %>
    
    <script src="/javascripts/categories/categories.js"></script>
    <script src="/javascripts/categories/categories_filter.js"></script>
    <script src="/javascripts/categories/categories_scroll_into_view.js"></script>
</body>

</html>