<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <%- include('../partials/header') %>
    <% const recipes = categoryRecipes %>
    <div class="main-bread-crumbs-wrapper">
        <ol class="bread-crumb-list">
            <li class="bread-crumb-item"><a href="/" class="bread-crumb">Home</a></li>
            <li class="bread-crumb-item"><a href="/recipes" class="bread-crumb">Recipes</a></li>
            <li class="bread-crumb-item"><a href="/recipes/categories" class="bread-crumb">Categories</a></li>
            <li class="bread-crumb-item"><a href="/recipes/categories/<%= categoryLC %>" class="bread-crumb"><%= categoryUC %></a></li>
        </ol>
    </div>
    <section class="category-show-wrapper">
        <div class="category-header-wrapper">
            <header class="category-title-wrapper">
                <h1><%= categoryUC %> Recipes</h1>
            </header>
        </div>
    </section>
    <section class="category-recipe-list">
        <% recipes.forEach(recipe => { %>
            <div class="recipe-wrapper">
                <div class="recipe-image-wrapper">
                    <img src="https://res.cloudinary.com/djq3aojia/image/upload/v1684366490/recipe_images/kylkdgeu16kbafs9bbbi.jpg" id="recipe-image" class="recipe-image">
                </div>
                <div class="recipe-info-wrapper">
                    <p id="recipe-title"><%= recipe['r_title'] %></p>
                    <a href="/recipes/categories/<%= categoryLC %>/<%= recipe['id'] %>" class="button-2-solid recipe-info-button">View Recipe</a>
                </div>
            </div>
        <% }) %>
    </section>
    <%- include('../partials/footer') %>
</body>
</html>