<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <%- include('../partials/header') %>
        <Header class="container text-centered mt-5">
            <div class="col-4">
                <h1>Recipes</h1>
                <p>Submited by: </p>
            </div>
        </Header>
        <% JSON.stringify(recipes) %>
            <br>
            <table>
                <thead>
                    <tr>
                        <td>
                            Title
                        </td>
                        <td>
                            Serving
                        </td>
                <tbody>
                    <% recipes.foreach((recipe)=> {%>
                        <tr>
                            <td>
                                <%= recipe['r_title'] %>
                            </td>
                            <td>
                                <%= recipe['num_serv'] %>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
                </tr>
                </thead>
            </table>
            <%- include('../partials/footer') %>
</body>

</html>