<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <%- include('../partials/header') %>
        <% JSON.stringify(recipe) %>
            <% recipe.forEach((recipe_info)=> {%>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-6">
                            <header class="container mt-5 mx-3 px-5">
                                <h1>
                                    <%= recipe_info['r_title'] %>
                                </h1>
                                <p class="mb-5">Add one sentence description of recipe here</p>
                            </header>
                            <div class="mx-3 px-5 mb-4">
                                <p class="fw-semibold fs-5 mb-1">Ingredients</p>
                                <p>
                                    <%= recipe_info['ingredients'] %>
                                </p>
                            </div>
                            <div class="mx-3 px-5">
                                <p class="fw-semibold fs-5 mb-1">Directions</p>
                                <p>
                                    <%= recipe_info['directions'] %>
                                </p>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row mt-5 me-3 pe-5">
                                <div class="bg-secondary-subtle py-5">
                                    <p class="text-center">IMAGE GOES HERE</p>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col">
                                    <div class="me-3 pe-5 float-end">
                                        <a href="<%=`/recipes/${recipe_info['id']}/edit`%>" class="btn btn-dark">Edit</a>
                                        <a href="<%=`/recipes/${recipe_info['id']}/delete`%>" class="btn btn-dark">Delete</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <br>
                <% }); %>
                    <%- include('../partials/footer') %>
</body>

</html>