<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <%- include('../partials/header') %>
    <% const recipeData = recipe[0] %>
    <div class="main-bread-crumbs-wrapper">
        <ol class="bread-crumb-list">
            <li class="bread-crumb-item"><a href="/" class="bread-crumb">Home</a></li>
            <li class="bread-crumb-item"><a href="/recipes" class="bread-crumb">Recipes</a></li>
            <li class="bread-crumb-item"><a href="/recipes/categories" class="bread-crumb">Categories</a></li>
            <li class="bread-crumb-item"><a href="/recipes/categories/<%= categoryLC %>" class="bread-crumb"><%= categoryUC %></a></li>
            <li class="bread-crumb-item"><a href="/recipes/categories/<%= categoryLC %>/<%= recipeData['id'] %>" class="bread-crumb"><%= recipeData['r_title'] %></a></li>
        </ol>
    </div>
    <section class="recipe-show-wrapper">
        <main class="recipe-main-wrapper">
            <header class="title-wrapper">
                <h2><%= recipeData['r_title'] %></h2>
                <div class="recipe-interaction">
                    <div id="recipeHeaderRating" class="recipe-rating">
                        <% const AVG = parseFloat(recipeData['recipe_rating_avg']) %>
                        <p><%= Math.round(AVG) == AVG ? AVG : AVG.toFixed(1) %></p>
                        <% for (let index = 0; index < 5; index++) { %>
                            <i class="star-color bi bi-star<%= index < Math.round(AVG) ? '-fill' : '' %>"></i> 
                        <% } %>
                    </div>
                    <div>
                        <% if (recipeData['comments_count'] == 0) { %>
                            <p>No comments</p>
                        <% } else if (recipeData['comments_count'] == 1) { %>
                            <p><%= recipeData['comments_count'] %> Comment</p>
                        <% } else { %>
                            <p><%= recipeData['comments_count'] %> Comments</p>
                        <% } %>
                    </div>
                    <div>
                        <% if (recipeData['photos_count'] == 0) { %>
                            <p>No Photos</p>
                        <% } else if (recipeData['photos_count'] == 1) { %>
                            <p><%= recipeData['photos_count'] %> Photo</p>
                        <% } else { %>
                            <p><%= recipeData['photos_count'] %> Photos</p>
                        <% } %>
                    </div>
                </div>
            </header>
            <section class="recipe-time-wrapper">
                <div class="recipe-times">
                    <div>
                        <p><span>Prep Time:</span> <%=recipeData['prep_time']%> Minutes</p>
                    </div>
                    <div>
                        <p><span>Cook Time:</span> <%=recipeData['cook_time']%> Minutes</p>
                    </div>
                    <div>
                        <p><span>Total Time:</span> <%=parseInt(recipeData['prep_time']) + parseInt(recipeData['cook_time'])%> Minutes</p>
                    </div>
                </div>
            </section>
            <section class="recipe-description-wrapper">
                <p><%= recipeData['description'] %></p>
            </section>
            <section class="mobile-description-submitter-wrapper">
                <div class="mobile-recipe-description-wrapper">
                    <p><%= recipeData['description'] %></p>
                </div>
                <div class="mobile-submitter">
                    <div class="mobile-recipe-submitter-wrapper">
                        <div class="recipe-submitter">
                            <p><span>Submitted By:</span> 
                                <%= recipeData['submit_user_first_name'] %> 
                                <%= recipeData['submit_user_last_name']%>
                            </p>
                            <p><span>Last Updated:</span> 
                                <%= dayjs(`${recipeData['created_at']}`).format("MMMM D, YYYY") %>
                            </p>
                        </div>
                    </div>
                    <div class="mobile-submitter-edit-recipe-wrapper" id="buttons-wrapper">
                        <a href="<%=`/recipes/${recipeData['id']}/delete`%>"
                            onclick="return confirm('Are you sure you want to delete this recipe?');"
                            class="delete-comment"
                            id="<%=`recipe-delete-button-id-${recipeData['id']}`%>">Delete Recipe</a>
                            <a href="<%=`/recipes/categories/${recipeData['category']}/${recipeData['id']}/edit`%>" class="edit-recipe" id="<%=`recipe-edit-button-id-${recipeData['id']}`%>" data-recipe-id="<%= recipeData['id']%>">Edit Recipe</a>
                    </div>
                </div>
            </section>
            <section class="ingredients-wrapper">
                <div class="ingredients-head-wrapper">
                    <div>
                        <h3>Ingredients</h3>
                    </div>
                    <div>
                        <button type="button" class="activeButton" id="customaryButton">Customary</button>
                        <button type="button" class="inactiveButton" id="metricButton">Metric</button>
                    </div>
                </div>
                <div class="ingredient-list-wrapper">
                    <div class="customaryWrapper">
                        <ul class="ingredient-list" id="listOne">
                            <% ingredients.forEach(ingredient => { %>
                                <% let ingredientAmount = ingredient.amount %>
                                <% let ingredientUnit = ingredient.unit %>
                                <% let ingredientFraction = ingredient.fraction %>
                                <% let ingredientIngredient = ingredient.ingredient %>
                                <li class="ingredient-list-item customaryMeasurement">
                                    <%= ingredientAmount %> 
                                    <%= ingredientFraction %> 
                                    <% let pluralIngredientUnit = ingredientUnit + 's' %>
                                    <% const regex = /s$/g %>
                                    <% if (ingredientAmount = 0 ) { %>
                                    <% } else if (ingredientAmount = 1) { %>
                                        <%= ingredientUnit %>
                                    <% } else if (ingredientAmount > 1) { %>
                                        <% let unitRegexMatch = ingredientUnit.match(regex)%>
                                        <%= pluralIngredientUnit %>
                                    <% } %>
                                    <%= ingredientIngredient %>
                                </li>
                            <% }) %>
                        </ul>
                        <ul class="ingredient-list" id="listTwo"></ul>
                    </div>
                    <div class="metricWrapper not-visible">
                        <ul class="ingredient-list" id="listOneMetric">
                            <% let metricConvertedAmount; %>
                            <% let metricAmount; %>
                            <% const fluidOunceConversion = 29.5735296875; %>
                            <% const cupConversion = 236.5882375; %>
                            <% const pintConversion = 473.176475; %>
                            <% const quartConversion = 946.35295; %>
                            <% const gallonConversion = 4404.8838; %>
                            <% const ounceConversion = 29.5735296875; %>
                            <% const poundConversion = 453.59237; %>

                            <% ingredients.forEach(ingredient => { %>
                                <% let amount = parseInt(ingredient.amount); %>
                                <% let fraction = ingredient.fraction; %>
                                <% let decimal = parseFloat(ingredient.fraction_decimal); %>
                                <% let unit = ingredient.unit; %>
                                <% let name = ingredient.ingredient; %>
                                
                                <% if (!amount) { %>
                                    <% amount = 0 %>
                                <% } %>

                                <% if (!decimal) { %>
                                    <% decimal = 0 %>
                                <% } %>

                                <li class="ingredient-list-item metricMeasurement">
                                    <% function customaryToMetricConversion() { %>
                                        <% if (unit == 'tablespoon') { %>
                                            <% if (amount == 0 ) { %>
                                                <% amount = '' %>
                                                <%= amount %>
                                            <% } else { %>
                                                <%= amount %>
                                            <% } %>
                                            <%= fraction %>
                                            <%= pulralName() %>
                                        <% } else if (unit == 'teaspoon') { %>
                                            <% if (amount == 0) { %>
                                                <% amount = '' %>
                                                <%= amount %>
                                            <% } else { %>
                                                <%= amount %>
                                            <% } %>
                                            <%= fraction %>
                                            <%= pulralName() %>
                                        <% } else if (unit == 'fluid ounce') { %>
                                            <% unit = 'ml' %>
                                            <% useAmountAndDecimal(fluidOunceConversion) %>
                                        <% } else if (unit == 'cup') { %>
                                            <% unit = 'ml' %>
                                            <% useAmountAndDecimal(cupConversion) %>
                                        <% } else if (unit == 'pint') { %>
                                            <% unit = 'ml' %>
                                            <% useAmountAndDecimal(pintConversion) %>
                                        <% } else if (unit == 'quart') { %>
                                            <% unit = 'ml' %>
                                            <% useAmountAndDecimal(quartConversion) %>
                                        <% } else if (unit == 'gallon') { %>
                                            <% unit = 'ml' %>
                                            <% useAmountAndDecimal(gallonConversion) %>
                                        <% } else if (unit == 'ounce') { %>
                                            <% unit = 'g' %>
                                            <% useAmountAndDecimal(ounceConversion) %>
                                        <% } else if (unit == 'pound') { %>
                                            <% unit = 'g' %>
                                            <% useAmountAndDecimal(poundConversion) %>
                                        <% } else { %>
                                            <%= amount + ' ' + name %>
                                        <% } %>
                                    <% } %>
                                    <% customaryToMetricConversion(); %>
    
                                    <% function useAmountAndDecimal(conversion) { %>
                                        <% if ((amount > 0) && (decimal > 0)) { %>
                                            <% metricConversionOne(conversion) %>
                                        <% } else if ((amount > 0) && (decimal == 0)) { %>
                                            <% metricConversionTwo(conversion) %>
                                        <% } else if ((amount == 0) && (decimal > 0)) { %>
                                            <% metricConversionThree(conversion) %>
                                        <% } %>
                                    <% } %>
    
                                    <% function metricConversionOne(conversion) { %>
                                        <% metricConvertedAmount = (amount + decimal) * conversion %>
                                        <% metricAmountRounded = Math.round(metricConvertedAmount); %>
                                        <% metricAmount = metricAmountRounded %>
                                        <%= metricAmount %>
                                        <%= pulralName(); %>
                                    <% } %>
                                    
                                    <% function metricConversionTwo(conversion) { %>
                                        <% metricConvertedAmount = amount * conversion %>
                                        <% metricAmountRounded = Math.round(metricConvertedAmount); %>
                                        <% metricAmount = metricAmountRounded %>
                                        <%= metricAmount %>
                                        <%= pulralName(); %>
                                    <% } %>
                                    
                                    <% function metricConversionThree(conversion) { %>
                                        <% metricConvertedAmount = decimal * conversion %>
                                        <% metricAmountRounded = Math.round(metricConvertedAmount); %>
                                        <% metricAmount = metricAmountRounded %>
                                        <%= metricAmount %>
                                        <%= pulralName(); %>
                                    <% } %>

                                    <% function pulralName() { %>
                                        <% let pluralIngredientUnit = unit + 's' %>
                                        <% const regex = /s$/g %>
                                        <% let unitRegexMatch = unit.match(regex);%>
                                        <% if (amount > 1) { %>
                                            <%= pluralIngredientUnit %>
                                        <% } else { %>
                                            <%= unit %>
                                        <% } %>
                                        <%= name %>
                                    <% } %>
                                </li>
                            <% }); %>
                        </ul>
                        <ul class="ingredient-list" id="listTwoMetric"></ul>
                    </div>
                </div>
            </section>
            <section class="directions-wrapper">
                <div class="directions-head-wrapper">
                    <div>
                        <h3>Directions</h3>
                    </div>
                    <div>
                        <button type="submit" class="activeButton" id="fahrenheitButton">Fahrenheit</button>
                        <button type="submit" class="inactiveButton" id="celciusButton">Celcius</button>
                    </div>
                </div>
                <div class="direction-list-wrapper">
                    <div class="fahrenheit-wrapper">
                        <ol class="direction-list" id="direction-list-one">
                            <% directions.forEach(direction => { %>
                                <li class="direction-list-item"><%= direction['direction'] %></li>
                            <% }) %>
                        </ol>
                    </div>
                    <div class="celcius-wrapper not-visible">
                        <ol class="direction-list" id="direction-list-two">
                        </ol>
                    </div>
                </div>
            </section>
            <div class="mobile-user-rating-wrapper">
                <div class="rating-wrapper">
                    <div class="rating-description">
                        <p>Made The Recipe?</p>
                        <p>Let fellow cooks and bakers know what you think</p>
                    </div>
                    <div id="mobile-user-rating">
                        <% if (recipeRating == undefined) { %>
                            <a href="/login" class="rate-button">Login To Rate</a>
                        <% } else { %>
                            <p id="mobile-user-rating-sentence"> 
                                <% if (recipeRating[0] == undefined) { %>
                                    Not Rated
                                <% } else { %>
                                    You rated: <%=`${recipeRating[0]['rating']}`%> / 5
                                <% } %>
                            </p>
                            <span class="mobile-star-rating-container" id="mobile-star-rating-container">
                                <i class="star-color bi bi-star" data-star="1" data-url="<%=`/recipes/${recipeData['id']}/rating/`%>"></i> 
                                <i class="star-color bi bi-star" data-star="2" data-url="<%=`/recipes/${recipeData['id']}/rating/`%>"></i> 
                                <i class="star-color bi bi-star" data-star="3" data-url="<%=`/recipes/${recipeData['id']}/rating/`%>"></i> 
                                <i class="star-color bi bi-star" data-star="4" data-url="<%=`/recipes/${recipeData['id']}/rating/`%>"></i> 
                                <i class="star-color bi bi-star" data-star="5" data-url="<%=`/recipes/${recipeData['id']}/rating/`%>"></i> 
                            </span>
                        <% } %>
                    </div>
                </div>
            </div>
            <section class="comments-wrapper">
                <div class="comments-head-wrapper">
                    <div>
                        <h3>Comments</h3>
                    </div>
                    <div id="comment-buttons">
                        <% if (!currentUser) { %>
                            <a href="/login">Login To Comment</a>
                        <% } else if (previousComment == 'user commented'){ %>
                        <% } else { %>        
                            <button type="button" id="create-comment">Comment</button>
                        <% } %>
                    </div>
                    <div class="not-visible" id="recipe-id"><%= recipeData['id'] %></div>
                </div>
                <div class="comments-list-wrapper">
                    <ul class="comments-list" id="comment-list">
                        <% comments.forEach(comment => { %>
                            <div id="<%=`comment-container-${comment['id']}`%>">
                                <div class="commenter-header">
                                    <div>
                                        <p><%= comment['first_name'] %></p>
                                        <p><%= comment['last_name'] %></p>
                                    </div>
                                    <p>
                                        <% const createdAt=comment['created_at'] %>
                                        <%= 'Commented' %>
                                        <%= dayjs(createdAt).fromNow() %>
                                    </p>
                                </div>
                                <div class="user-iteraction">
                                    <p class="comment-item" id="<%=`comment-${comment['id']}`%>"><%= comment['comment'] %></p>
                                    <form action="<%=`/recipes/${comment['recipe_id']}/comment/${comment['id']}/edit`%>" method="post"></form>
                                    <div id="<%=`comment-${comment['id']}-like-container`%>">
                                        <button class="comment-button like-comment-button" id="<%=`comment-${comment['id']}-like-btn`%>" data-comment-id="<%= comment['id']%>" data-url="<%=`/recipes/${comment['recipe_id']}/comment/${comment['id']}/like`%>">
                                                <div class="comment-button-interaction">
                                                    <div>
                                                        <p id="<%=`comment-${comment['id']}-like-count`%>" class="comment-like-count">
                                                            <%=comment['likes']%>
                                                        </p>
                                                    </div>
                                                    <div id="<%=`likeIcon-${comment['id']}`%>">
                                                        <% if (commentLikes.includes(comment['id'])) { %>
                                                            <div id="<%=`likedSVG-${comment['id']}`%>"></div>
                                                        <% } else { %>
                                                            <div id="<%=`unlikedSVG-${comment['id']}`%>"></div>
                                                        <% } %>
                                                    </div>
                                                </div>
                                        </button>
                                    </div>
                                </div>
                                <% if(currentUser && currentUser.id===comment['user_id']) { %>
                                    <div class="user-comment-buttons-wrapper" id="buttons-wrapper">
                                        <a href="<%=`/recipes/${comment['recipe_id']}/comment/${comment['id']}/delete`%>"
                                            onclick="return confirm('Are you sure you want to delete this comment?');"
                                            class="delete-comment"
                                            id="<%=`comment-delete-button-id-${comment['id']}`%>">Delete</a>
                                        <button type="button" class="edit-comment" id="<%=`comment-edit-button-id-${comment['id']}`%>" data-comment-id="<%= comment['id']%>">Edit</button>
                                    </div>
                                <% } %>
                            </div>
                        <% }) %>
                    </ul>
                </div>
            </section>
        </main>
        <section class="recipe-side-wrapper">
            <div class="recipe-photos">
                <div id="imageCarousel" class="carousel slide">
                    <div id="carouselPhotos" class="carousel-inner">
                        <% photos.forEach((photo) => { %>
                            <div class="carousel-item">
                                <img src="<%=photo['photo_url']%>">
                            </div>
                        <% }); %>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#imageCarousel" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#imageCarousel" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                    <script>
                        const carouselPhotosContainer = document.getElementById('carouselPhotos');
                        carouselPhotosContainer.firstElementChild.classList.add('active');
                    </script>
                </div>
            </div>
            <div class="recipe-submitter-wrapper">
                <div class="recipe-submitter">
                    <p><span>Submitted By:</span> 
                        <%= recipeData['submit_user_first_name'] %> 
                        <%= recipeData['submit_user_last_name']%>
                    </p>
                    <p><span>Last Updated:</span> 
                        <%= dayjs(`${recipeData['created_at']}`).format("MMMM D, YYYY") %>
                    </p>
                </div>
            </div>
            <% if (currentUser && currentUser.id === recipeData['submit_user_id']) { %>
                <div class="submitter-edit-recipe-wrapper" id="buttons-wrapper">
                    <a href="<%=`/recipes/${recipeData['id']}/delete`%>"
                        onclick="return confirm('Are you sure you want to delete this recipe?');"
                        class="delete-comment"
                        id="<%=`recipe-delete-button-id-${recipeData['id']}`%>">Delete Recipe</a>
                        <a href="<%=`/recipes/categories/${recipeData['category']}/${recipeData['id']}/edit`%>" class="edit-recipe" id="<%=`recipe-edit-button-id-${recipeData['id']}`%>" data-recipe-id="<%= recipeData['id']%>">Edit Recipe</a>
                </div>
            <% } %>
            <div class="user-rating-wrapper">
                <div class="rating-wrapper">
                    <div class="rating-description">
                        <p>Made The Recipe?</p>
                        <p>Let fellow cooks and bakers know what you think</p>
                    </div>
                    <div id="user-rating">
                        <% if (recipeRating == undefined) { %>
                            <a href="/login" class="rate-button">Login To Rate</a>
                        <% } else { %>
                            <p id="user-rating-sentence"> 
                                <% if (recipeRating[0] == undefined) { %>
                                    Not Rated
                                <% } else { %>
                                    You rated: <%=`${recipeRating[0]['rating']}`%> / 5
                                <% } %>
                            </p>
                            <span class="star-rating-container" id="star-rating-container">
                                <i class="star-color bi bi-star" data-star="1" data-url="<%=`/recipes/${recipeData['id']}/rating/`%>"></i> 
                                <i class="star-color bi bi-star" data-star="2" data-url="<%=`/recipes/${recipeData['id']}/rating/`%>"></i> 
                                <i class="star-color bi bi-star" data-star="3" data-url="<%=`/recipes/${recipeData['id']}/rating/`%>"></i> 
                                <i class="star-color bi bi-star" data-star="4" data-url="<%=`/recipes/${recipeData['id']}/rating/`%>"></i> 
                                <i class="star-color bi bi-star" data-star="5" data-url="<%=`/recipes/${recipeData['id']}/rating/`%>"></i> 
                            </span>
                        <% } %>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <%- include('../partials/footer') %>
</body>

<script src="/javascripts/star_rating.js"></script>
<script src="/javascripts/ingredient_list_split.js"></script>
<script src="/javascripts/measurement_toggle.js"></script>
<script src="/javascripts/direction_metric.js"></script>
<script src="/javascripts/comment_edits.js"></script>
<script src="/javascripts/comment_interactions.js"></script>
<script src="/javascripts/create_new_comment.js"></script>

</html>